<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.galal1.clientapp">
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirstActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StreamingClientsActivity"
            android:label="Clients"
            ></activity>

        <activity
            android:name=".PatientOneStreamingDetection"
            android:label="Patient 1"
            ></activity>

        <activity
            android:name=".PatientTwoStreamingDetection"
            android:label="Patient 2"
            ></activity>


        <activity
            android:name=".DatabaseClientsActivity"
            android:label="Clients"
            ></activity>

        <activity
            android:name=".PatientOneDatabase"
            android:label="Patient 1D"
            ></activity>

        <activity
            android:name=".PatientTwoDatabase"
            android:label="Patient 2D"
            ></activity>


    </application>

</manifest>